# dependencies
node_modules

# production build
dist

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# coverage
coverage

# uploads
uploads

# temp
tmp
temp

# TypeScript
*.tsbuildinfo